div(ng-controller="PlayersCtrl as players")
  .page-header
    h1 NBA tools 2015

  .well.clear
    proj(name="projection" min="0" max="200" search="rangeProj")
    salary(name="salary" min="1" max="15000" search="rangeSalary")

  div
    table.table.table-responsive.table-striped.hidden-md.hidden-sm.hidden-xs
      thead
        tr
          th player
          th
            abbr(title="position") pos
          th
            abbr(title="team") tm
          th
            abbr(title="opposite") opp
          th
            abbr(title="effective position") eff pos
          th
            abbr(title="minutes") min
          th
            abbr(title="usage rate") ur
          th
            abbr(title="rebound rate") rr
          th
            abbr(title="assists rate") ar
          th
            abbr(title="manual effective adj") man ea
          th
            abbr(title="projection") proj.
          th dfs site
          th
            abbr(title="salary") sal
          th
            abbr(title="value threshold") val thr
          th
            abbr(title="value") val
      tbody
        tr(ng-repeat="player in playersData.players | limitTo:showMoreCount | filter:greaterThan1('proj', rangeProj.search) | filter:greaterThan2('draftkings.salary', rangeSalary.search)")
          td(ng-bind="player.player")
          td(ng-bind="player.pos.draftkings")
          td(ng-bind="player.team")
          td(ng-bind="player.opp")
          td(ng-bind="player.effectivePos.new")
          td
            input(
              type="number"
              min="0"
              max="59"
              ng-model="player.statsCurrentSeason.minutes.new"
              ng-change="calculateProj(player)"
            )
          td
            input(
              type="number"
              min="0"
              max="60"
              ng-model="player.statsCurrentSeason.usageRate.new"
              ng-change="calculateProj(player)"
              step="0.01"
            )
          td
            input(
              type="number"
              min="0"
              max="30"
              ng-model="player.statsCurrentSeason.reboundRate.new"
              ng-change="calculateProj(player)"
            )
          td
            input(
              type="number"
              min="0"
              max="70"
              ng-model="player.statsCurrentSeason.assistsRate.new"
              ng-change="calculateProj(player)"
            )
          td
            input(
              type="number"
              min="0.7"
              max="1.3"
              ng-model="player.manualEffAdj.new"
              ng-change="calculateProj(player)"
              step="0.01"
            )
          td(ng-bind="player.proj | number:3")
          td(ng-bind="player.draftkings.name")
          td(ng-bind="player.draftkings.salary")
          td(ng-bind="player.draftkings.valueThreshold")
          td(ng-bind="player.draftkings.value.new")

    table.mobile-table.table.table-responsive.table-striped.table-hover.visible-md-block.visible-sm-block.visible-xs-block.col-md-12.col-sm-12.col-xs-12
      tr(ng-repeat="player in playersData.players | limitTo:showMoreCount | filter:greaterThan1('proj', rangeProj.search) | filter:greaterThan2('draftkings.salary', rangeSalary.search)").col-md-6.col-sm-6.col-xs-12
        td
          table.table.table-hover
            tr
              th player
              td(ng-bind="player.player")
            tr
              th
                abbr(title="position") pos
              td(ng-bind="player.pos.draftkings")
            tr
              th
                abbr(title="team") tm
              td(ng-bind="player.team")
            tr
              th
                abbr(title="opposite") opp
              td(ng-bind="player.opp")
            tr
              th
                abbr(title="effective position") eff pos
              td(ng-bind="player.effectivePos.new")
            tr
              th
                abbr(title="minutes") min
              td
                input(
                  type="number"
                  min="0"
                  max="59"
                  ng-model="player.statsCurrentSeason.minutes.new"
                  ng-change="calculateProj(player)"
                )
            tr
              th
                abbr(title="usage rate") ur
              td
                input(
                  type="number"
                  min="0"
                  max="60"
                  ng-model="player.statsCurrentSeason.usageRate.new"
                  ng-change="calculateProj(player)"
                  step="0.01"
                )
            tr
              th
                abbr(title="rebound rate") rr
              td
                input(
                  type="number"
                  min="0"
                  max="30"
                  ng-model="player.statsCurrentSeason.reboundRate.new"
                  ng-change="calculateProj(player)"
                )
            tr
              th
                abbr(title="assists rate") ar
              td
                input(
                  type="number"
                  min="0"
                  max="70"
                  ng-model="player.statsCurrentSeason.assistsRate.new"
                  ng-change="calculateProj(player)"
                )
            tr
              th
                abbr(title="manual effective adj") man ea
              td
                input(
                  type="number"
                  min="0.7"
                  max="1.3"
                  ng-model="player.manualEffAdj.new"
                  ng-change="calculateProj(player)"
                  step="0.01"
                )
            tr
              th
                abbr(title="projection") proj.
              td(ng-bind="player.proj | number:3")
            tr
              th dfs site
              td(ng-bind="player.draftkings.name")
            tr
              th
                abbr(title="salary") sal
              td(ng-bind="player.draftkings.salary")
            tr
              th
                abbr(title="value threshold") val thr
              td(ng-bind="player.draftkings.valueThreshold")
            tr
              th
                abbr(title="value") val
              td(ng-bind="player.draftkings.value.new")

    p.btn-white.text-center(aria-label="Left Align" ng-hide="showMoreHide")
      span.btn.btn-default.btn-lg(ng-click="showMore()")
        span.glyphicon.glyphicon-repeat
        span.text-uppercase show more
